* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: 0px;
          box-sizing: 0px;
}

body {
  color: white;
}

body .ourPakeg {
  background-image: url(../images/newsbg.jpg);
}

body .ourPakeg .container {
  padding-left: 50px;
  padding-right: 50px;
}

body .ourPakeg .container .dishes .dishes_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .ourPakeg .container .dishes .dishes_con .pln_yam_fish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
  font-family: 'Pacifico', cursive;
}

body .ourPakeg .container .dishes .dishes_con .pln_yam_fish img {
  height: 400px;
  width: 60%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

body .ourPakeg .container .dishes .dishes_con .pln_yam_fish .pln_yam_fish_text {
  color: black;
  background-color: white;
  height: 350px;
  width: 45%;
  border: red 2px solid;
  border-left: black 0px solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

body .ourPakeg .container .dishes .dishes_con .pln_yam_fish .pln_yam_fish_text p {
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  line-height: 35px;
  padding-top: 10px;
}

body .ourPakeg .container .dishes .dishes_con .pln_yam_fish .pln_yam_fish_text p button {
  margin-top: 20px;
  font-size: 14px;
  font-weight: normal;
  font-family: 'roboto', sans-serif;
  background-color: red;
  color: white;
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

body .ourPakeg .container .dishes .dishes_con .pln_yam_fish .pln_yam_fish_text p button:hover {
  height: 45px;
  width: 145px;
  background-color: #d20101;
}

@media screen and (max-width: 768px) {
  body .ourPakeg .container .dishes .dishes_con .pln_yam_fish {
    display: block;
  }
  body .ourPakeg .container .dishes .dishes_con .pln_yam_fish img {
    height: 200px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  body .ourPakeg .container .dishes .dishes_con .pln_yam_fish .pln_yam_fish_text {
    color: black;
    background-color: white;
    height: 250px;
    width: 300px;
    border: red 2px solid;
    border-top: black 0px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
    margin-left: 25px;
    margin-right: 25px;
  }
  body .ourPakeg .container .dishes .dishes_con .pln_yam_fish .pln_yam_fish_text p {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    line-height: 25px;
    padding-top: 10px;
  }
  body .ourPakeg .container .dishes .dishes_con .pln_yam_fish .pln_yam_fish_text p button {
    margin-top: 40px;
    font-size: 14px;
    font-weight: normal;
    font-family: 'roboto', sans-serif;
    background-color: red;
    color: white;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 5px;
    text-align: center;
  }
  body .ourPakeg .container .dishes .dishes_con .pln_yam_fish .pln_yam_fish_text p button:hover {
    height: 45px;
    width: 145px;
    background-color: #d20101;
  }
}

body .ourPakeg .container .dishes .pln_ptt_yam_crk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
  font-family: 'Pacifico',cursive;
}

body .ourPakeg .container .dishes .pln_ptt_yam_crk img {
  height: 400px;
  width: 50%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

body .ourPakeg .container .dishes .pln_ptt_yam_crk .pln_ptt_yam_crk_text {
  color: black;
  background-color: white;
  height: 350px;
  width: 40%;
  border: red 2px solid;
  border-right: black 0px solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

body .ourPakeg .container .dishes .pln_ptt_yam_crk .pln_ptt_yam_crk_text p {
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  line-height: 35px;
  padding-top: 10px;
}

body .ourPakeg .container .dishes .pln_ptt_yam_crk .pln_ptt_yam_crk_text p button {
  margin-top: 20px;
  font-size: 14px;
  font-weight: normal;
  font-family: 'roboto', sans-serif;
  background-color: red;
  color: white;
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

body .ourPakeg .container .dishes .pln_ptt_yam_crk .pln_ptt_yam_crk_text p button:hover {
  height: 45px;
  width: 145px;
  background-color: #d20101;
}

@media screen and (max-width: 768px) {
  body .ourPakeg .container .dishes .pln_ptt_yam_crk {
    display: none;
  }
}

body .ourPakeg .container .dishes .pln_yam_ptt_otf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
  font-family: 'Pacifico',cursive;
}

body .ourPakeg .container .dishes .pln_yam_ptt_otf img {
  height: 400px;
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

body .ourPakeg .container .dishes .pln_yam_ptt_otf .pln_yam_ptt_otf_text {
  color: black;
  background-color: white;
  height: 350px;
  width: 40%;
  border: red 2px solid;
  border-left: black 0px solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

body .ourPakeg .container .dishes .pln_yam_ptt_otf .pln_yam_ptt_otf_text p {
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  line-height: 35px;
  padding-top: 10px;
}

body .ourPakeg .container .dishes .pln_yam_ptt_otf .pln_yam_ptt_otf_text p button {
  margin-top: 20px;
  font-size: 14px;
  font-weight: normal;
  font-family: 'roboto', sans-serif;
  background-color: red;
  color: white;
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

body .ourPakeg .container .dishes .pln_yam_ptt_otf .pln_yam_ptt_otf_text p button:hover {
  height: 45px;
  width: 145px;
  background-color: #d20101;
}

@media screen and (max-width: 768px) {
  body .ourPakeg .container .dishes .pln_yam_ptt_otf {
    display: block;
  }
  body .ourPakeg .container .dishes .pln_yam_ptt_otf img {
    height: 200px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  body .ourPakeg .container .dishes .pln_yam_ptt_otf .pln_yam_ptt_otf_text {
    color: black;
    background-color: white;
    height: 300px;
    width: 300px;
    border: red 2px solid;
    border-top: black 0px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
    margin-left: 25px;
    margin-right: 25px;
  }
  body .ourPakeg .container .dishes .pln_yam_ptt_otf .pln_yam_ptt_otf_text p {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    line-height: 25px;
    padding-top: 10px;
  }
  body .ourPakeg .container .dishes .pln_yam_ptt_otf .pln_yam_ptt_otf_text p button {
    margin-top: 40px;
    font-size: 14px;
    font-weight: normal;
    font-family: 'roboto', sans-serif;
    background-color: red;
    color: white;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 5px;
    text-align: center;
  }
  body .ourPakeg .container .dishes .pln_yam_ptt_otf .pln_yam_ptt_otf_text p button:hover {
    height: 45px;
    width: 145px;
    background-color: #d20101;
  }
}

body .ourPakeg .container .dishes .pln_ptt_yam_crr {
  display: none;
}

@media screen and (max-width: 768px) {
  body .ourPakeg .container .dishes .pln_ptt_yam_crr {
    padding-bottom: 50px;
    display: block;
    font-family: 'Pacifico', cursive;
  }
  body .ourPakeg .container .dishes .pln_ptt_yam_crr img {
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  body .ourPakeg .container .dishes .pln_ptt_yam_crr .pln_ptt_yam_crr_text {
    color: black;
    background-color: white;
    height: 300px;
    width: 300px;
    border: red 2px solid;
    border-top: black 0px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
    margin-left: 35px;
    margin-right: 25px;
  }
  body .ourPakeg .container .dishes .pln_ptt_yam_crr .pln_ptt_yam_crr_text p {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    line-height: 25px;
    padding-top: 10px;
  }
  body .ourPakeg .container .dishes .pln_ptt_yam_crr .pln_ptt_yam_crr_text p button {
    margin-top: 40px;
    font-size: 14px;
    font-weight: normal;
    font-family: 'roboto', sans-serif;
    background-color: red;
    color: white;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 5px;
    text-align: center;
  }
  body .ourPakeg .container .dishes .pln_ptt_yam_crr .pln_ptt_yam_crr_text p button:hover {
    height: 45px;
    width: 145px;
    background-color: #d20101;
  }
}

body h4 {
  padding-top: 20px;
}

@media (min-width: 480px) and (max-width: 1000px) {
  body .head_title {
    margin-top: 30px;
  }
}
